.style1 {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-weight:bold;
color: #0000FF;}
.style2 {
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-style : italic;
  color: #00FF00;}
h2 {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-weight:bold;
color:#005050;
background:rgb(204,204,255);
padding: 10px;
border: 1px solid #000000;}
span {
  border: 1px solid #000000;
  padding: 2px;
}
#right-column {
font-family:Verdana, Arial, Helvetica, sans-serif;
font-weight: bold;
font-size: 25pt;
color:#001080;}
h1{text-align:center;}
